#!/usr/bin/make -f

#export DH_VERBOSE=1
export DH_OPTIONS
export IN_VENV=true

%:
	dh $@ --with=sphinxdoc

override_dh_auto_build:
	# Just build the docs
	make html
	make epub
	make pdf

override_dh_auto_test:
	# Nothing to do here ...

override_dh_auto_install:
	# Nothing to do here either

override_dh_installdocs:
	dh_installdocs -pubuntu-packaging-guide
	dh_installdocs --doc-main-package=ubuntu-packaging-guide -pubuntu-packaging-guide-html
	dh_installdocs --doc-main-package=ubuntu-packaging-guide -pubuntu-packaging-guide-epub
	dh_installdocs --doc-main-package=ubuntu-packaging-guide -pubuntu-packaging-guide-pdf
